html {
  box-sizing: border-box;
}

.new-tweet {
  margin-top:140px;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: lightgray;
  padding: 10px;
}

.new-tweet h2 {
color: gray;
margin-top: 0;
border-bottom: 2px solid gray;
}

.new-tweet textarea {
  width: 100%;
  padding: 12px 12px;
}

.new-tweet .button {
}

.new-tweet .counter {
float: right;
}