html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.tweet {
  margin-top: 20px;
  color: gray;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  position: relative;
}

.tweet-container header {
  border: 2px solid lightgray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: lightgray;
  padding: 10px;
  height: 80px;
}

.tweet-container .tweet-header img {
  width: 60px;
  length: 60px;
  float: left;
  clear: both;
}

.tweet-container .tweet-header .username {
  padding-left: 10px;
  float: left;
  line-height: 0px;
}

.tweet-container .tweet-header .userhandle {
  float: right;
  line-height: 0px;
}

.tweet p {
  padding: 10px;
  word-wrap: break-word;
}

.tweet footer {
  padding: 0px;
  border-top: 1px solid lightgrey;
}

.tweet:hover{
  opacity: 1;
}

.tweet:hover .tweet-footer img {
  opacity: 1;
}

.tweet-footer img {
  height: 20px;
  width: 20px;
  padding: 2.5px;
  float: right;
  opacity: 0;
}
